<app-navbar></app-navbar>
<div class="row w-100 h-100">

	<div class="col-2 sidenav h-100">
		<app-sidenav></app-sidenav>
	</div>

	<div class="col-8 main">
		<h1 class="text-center">NAUDOTOJO INFORMACIJA</h1>
        <div class="text-left details">
            <div><span class="text-uppercase font-weight-bold">Vardas, Pavardė:</span> {{ loggedUser.name }}</div>
            <div><span class="text-uppercase font-weight-bold">Pareigos:</span> {{ loggedUser.duties }}</div>
            <div><span class="text-uppercase font-weight-bold">El. paštas:</span> {{ loggedUser.email }}</div>
        </div>
		<div>
			<button (click)="gotoUpdateUser()" class="btn btn-primary float-right">Redaguoti</button>
		</div>
	</div>
</div>