<app-navbar></app-navbar>
<div class="row w-100 h-100">

    <div class="col-2 sidenav h-100">
        <app-sidenav></app-sidenav>
    </div>

    <div class="col-8 main">
        <h3>Redaguoti naudotojo informaciją</h3>
        <div>
            <form (ngSubmit)="onSubmitUserInfo()" #userDetailsForm="ngForm">
                <div class="form-group">
                    <label for="name">Vardas, Pavardė</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="duties">Pareigos</label>
                    <label for="template">Komitetas</label>
                    <select [(ngModel)]="user.duties" class="form-control" id="duties" name="duties">
                        <option>Prezidentas</option>
                        <option>Viceprezidentas</option>
                        <option>Administratorius</option>
                        <option>ARK</option>
                        <option>SRK</option>
                        <option>RsV</option>
                        <option>ŽIK</option>
                        <option>Laisvalaikis</option>
                        <option>Projektai</option>
                        <option>Finansai</option>
                        <option>TF SA</option>
                        <option>SvMF SA</option>
                        <option>VF SA</option>
                        <option>Revizija</option>
                        <option>Valdyba</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="email">El. paštas</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
                </div>

                <div class="d-flex float-right">
                    <button type="submit" [disabled]="!userDetailsForm.form.valid"
                        class="btn btn-success" *ngIf="hasAccess()">Pakeisti</button>
                </div>
            </form>
        </div>
        <div *ngIf="checkIfLogged()">
            <h3>Keisti slaptažodį</h3>
            <div>
                <form (ngSubmit)="onSubmitPassword()" #passwordChangeForm="ngForm">
                    <div class="form-group">
                        <label for="password">Senas slaptažodis</label>
                        <input type="password" class="form-control text-muted" id="password" required
                            [(ngModel)]="oldpassword" name="password">
                    </div>

                    <div class="form-group">
                        <label for="newpassword">Naujas slaptažodis</label>
                        <input type="password" [(ngModel)]="newpassword" class="form-control text-muted"
                            id="newpassword" required name="newpassword">
                    </div>

                    <div class="form-group">
                        <label for="newpasswordrepeat">Pakartoti naują slaptažodį</label>
                        <input type="password" class="form-control text-muted" id="newpasswordrepeat" required
                            [(ngModel)]="newpasswordrepeat" name="newpasswordrepeat">
                    </div>

                    <div class="d-flex float-right">
                        <button type="submit" [disabled]="!passwordChangeForm.form.valid"
                            class="btn btn-success">Pakeisti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>