<app-navbar></app-navbar>
<div class="row w-100 h-100">

	<div class="col-2 sidenav h-100">
		<app-sidenav></app-sidenav>
	</div>

	<div class="col-8 main">
		<h2>Ataskaita Nr. {{ report.number }}</h2>

<hr />
<div *ngIf="report">
  <div>
    <label><b>Komitetas: </b></label> {{ report.committee }}
  </div>
  <div>
    <label><b>Kūrėjas: </b></label> {{ report.creator }}
  </div>
  <div>
    <label><b>Data: </b></label> {{ report.date }}
  </div>
</div>

<br>
<br>
<button class="btn btn-success" (click)="goToPDF(reportId)" >Peržiūrėti šablone</button>
<hr>

<div class="d-flex justify-content-between">
  <h2>Veiklos</h2>
  <button *ngIf="canUserEdit()" class="btn btn-success" (click)="gotoAddActivity(report.id)">Pridėti veiklą</button>
</div>

<hr>

<div>
  <label><b>Įvykdytos veiklos: </b></label> {{ countCompleted() }}
</div>
<div>
  <label><b>Vykdomos veiklos: </b></label> {{ countNotCompleted() }}
</div>
<div>
  <label><b>Neįvykdytos veiklos: </b></label> {{ countCanceled() }}
</div>


<div>
  <div class="card my-5">
      <div class="card-body">
          <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Pavadinimas</th>
                      <th scope="col">Data, vieta</th>
                      <th scope="col">Statusas</th>
                      <th scope="col">Kokybiniai rezultatai</th>
                      <th scope="col">Kiekybiniai rezultatai</th>
                      <th scope="col">Veiksmai</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let activity of activities">
                    <ng-container *ngIf="activity.reportId == reportId">
                      <td>{{ activity.name }}</td>
                      <td>{{ activity.date }}, {{ activity.place }}</td>
                      <td>{{ activity.status }}</td>
                      <td>{{ activity.qualRes }}</td>
                      <td>{{ activity.quanRes }}</td>
                      <td>
                          <button *ngIf="canUserEdit()" (click)="updateActivity(activity.id)" class="btn btn-primary">Redaguoti</button>
                          <button *ngIf="canUserEdit()" (click)="deleteActivity(activity.id)"class="btn btn-danger">Ištrinti</button>
                      </td>
                    </ng-container>
                      
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
	</div>

</div>