<html>
<div class="form-signin col-4 ">
    <div class="card-body">
        <form class="text-center">
            <img src="../assets/KVKSA_Logo_BeTeksto-e1479408928790.png" alt="KVK SA">
            <h1 class="h3 text-uppercase font-weight-bold">Prisijungimas</h1>
            
            <div class="alert alert-danger" role="alert" *ngIf="invalidLogin">
                <strong>Neteisingas slaptažodis arba naudotojo el. paštas</strong>
            </div>

            <input class="form-control" type="text" name="email" [(ngModel)]="email" placeholder="El. pašto adresas"
                required>
            <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="Slaptažodis"
                required>
            <button (click)=checkLogin() class="btn btn-lg btn-primary">Prisijungti</button>
        </form>
    </div>
</div>

</html>