.form-signin {
    margin: auto;
    margin-top: 15%;
}

input {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    margin: auto;
}

img {
    width: 45%;
    height: auto;
}

body {
    height: 100px;
}

.card-body {
    background-color: whitesmoke;
    padding: 15%;
    border-radius: 5%
}