<app-navbar></app-navbar>
<div class="row w-100 h-100">

    <div class="col-2 sidenav h-100">
        <app-sidenav></app-sidenav>
    </div>

    <div class="col-8 main">
        <h2>Administruoti naudotojus</h2>
        <div class="card my-5">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">El. paštas</th>
                            <th scope="col">Vardas Pavardė</th>
                            <th scope="col">Pareigos</th>
                            <th scope="col">Veiksmai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users ">
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.duties }}</td>
                            <td><button class="btn btn-primary" (click)="goToUserEdit(user, user.id)">Redaguoti</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>