<app-navbar></app-navbar>
<div class="row w-100 h-100">

	<div class="col-2 sidenav h-100">
		<app-sidenav></app-sidenav>
	</div>

	<div class="col-8 main text-center">
		<div class="circle">
			<h1>Sveiki, {{ loggedUser.duties }} !</h1>
		</div>
		
	</div>
</div>