<app-navbar></app-navbar>
<div class="row w-100 h-100">

	<div class="col-2 sidenav h-100">
		<app-sidenav></app-sidenav>
	</div>

	<div class="col-8 main">
		<h3>
            {{ report.committee }}
            <br />
            Pridėti veiklą prie {{ report.number }} ataskaitos.
        </h3>
        <div class="card my-5">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
        
                    <div class="form-group">
                        <label for="name">Veiklos pavadinimas</label>
                        <input type="text" required [(ngModel)]="activity.name" class="form-control" id="name" name="name"
                            placeholder="Įrašykite veiklos pavadinimą">
                    </div>
        
                    <div class="form-group">
                        <label for="date">Veiklos data</label>
                        <input type="text" required [(ngModel)]="activity.date" class="form-control" id="date" name="date"
                            placeholder="Įrašykite veiklos datą (yyyy-mm-dd)">
                    </div>
        
                    <div class="form-group">
                        <label for="place">Veiklos vieta</label>
                        <input type="text" required [(ngModel)]="activity.place" class="form-control" id="place" name="place"
                            placeholder="Įrašykite veiklos vietą">
                    </div>
        
                    <div class="form-group">
                        <label for="status">Statusas</label>
                        <select required [(ngModel)]="activity.status" class="form-control" id="status" name="status">
                            <option>Įvykdyta</option>
                            <option>Vykdoma</option>
                            <option>Neįvykdyta</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="qualRes">Veiklos kokybiniai rezultatai</label>
                        <textarea required [(ngModel)]="activity.qualRes" class="form-control" id="qualRes" name="qualRes"
                            placeholder="Įrašykite veiklos kokybinius rezultatus">
                            </textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="quanRes">Veiklos kokybiniai rezultatai</label>
                        <textarea required [(ngModel)]="activity.quanRes" class="form-control" id="quanRes" name="quanRes"
                            placeholder="Įrašykite veiklos kiekybinius rezultatus">
                            </textarea>
                    </div>
        
                    <div class="d-flex justify-content-between">
                        <button (click)="gotoReport()" class="btn btn-primary">Grįžti į ataskaitą</button>
                        <button type="submit" [disabled]="!activityForm.form.valid" class="btn btn-success">Sukurti</button>
                    </div>
                </form>
            </div>
        </div>
	</div>

</div>