<app-navbar></app-navbar>
<div class="row w-100 h-100">

  <div class="col-2 sidenav h-100">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col-8 main">
    <h2>Ataskaitos: {{reportGroup}}</h2>
    <div class="d-flex float-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light float-right" id="dropdownMenuButtonSort" ngbDropdownToggle> Rūšiuoti </button>
        <div ngbDropdownMenu class="text-center" aria-labelledby="dropdownMenuButton">
          <div>
            <button ngbDropdownItem class="btn btn-light" (click)="sortNewToOld(reports)">Nuo naujausio</button>
          </div>
          <div>
            <button ngbDropdownItem class="btn btn-light" (click)="sortOldToNew(reports)">Nuo seniausio</button>
          </div>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light float-right" id="dropdownMenuButton" ngbDropdownToggle> Filtruoti </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <form class="px-4 py-3 filter" (ngSubmit)="onSubmitFilter()">
            <div class="form-group">
              <label for="creator">Kūrėjo vardas, pavardė</label>
              <input type="text" class="form-control" id="creator" name="creator" [(ngModel)]="creator"
                placeholder="Vardas Pavardė..." autocomplete="off">
            </div>
            <div class="form-group">
              <label for="startDate">Data nuo:</label>
              <input type="text" class="form-control" id="startDate" name="startDate" [(ngModel)]="startDate"
                placeholder="yyyy-mm" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="endDate">Data iki:</label>
              <input type="text" class="form-control" id="endDate" name="endDate" [(ngModel)]="endDate"
                placeholder="yyyy-mm" autocomplete="off">
            </div>
            <button ngbDropdownItem type="submit" class="btn btn-primary">Filtruoti</button>
          </form>
        </div>
      </div>

      <button class="btn btn-light float-right" type="button" *ngIf="areFiltersOn == true"
        (click)="cleanFilters()">Valyti
        filtrus</button>
    </div>

    <div class="card my-5">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Ataskaitos Nr.</th>
              <th scope="col">Komitetas/Pareigos</th>
              <th scope="col">Kūrėjas</th>
              <th scope="col">Šablonas</th>
              <th scope="col">Ataskaitos data</th>
              <th scope="col">Veiksmai</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports">
              <td>{{ report.number }}</td>
              <td>{{ report.committee }}</td>
              <td>{{ report.creator }}</td>
              <td>{{ report.template }}</td>
              <td>{{ report.date }}</td>
              <td>
                <button (click)="reportDetails(report.id)" class="btn btn-primary">Peržiūrėti</button>
                <button *ngIf="canUserEdit(report)" (click)="updateReport(report.id)"
                  class="btn btn-success">Redaguoti</button>
                <button *ngIf="canUserEdit(report)" (click)="deleteReport(report.id)"
                  class="btn btn-danger">Ištrinti</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>