<nav class="navbar navbar-light bg-light justify-content-between">
	<a class="navbar-brand" routerLink="/home"><img
			src="../assets/KVKSA_Logo_BeTeksto-e1479408928790.png" alt='KVK SA'></a>
	<div class="text-right">
		<a class="navbar-text" routerLink="/userdetails">{{ loggedUser.name }}</a>
		<a *ngIf="isAdmin()" routerLink="/administrate" class="nav-link">Administruoti naudotojus</a>
		<a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Atsijungti</a>
	</div>
</nav>