<app-navbar></app-navbar>
<div class="row w-100 h-100">

    <div class="col-2 sidenav h-100">
        <app-sidenav></app-sidenav>
    </div>

    <div class="col-8 main">
        <h3>Redaguoti ataskaitos informaciją</h3>
        <div>
            <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
                <div class="form-group">
                    <label for="number">Ataskaitos Nr.</label>
                    <input type="text" class="form-control" id="number" required [(ngModel)]="report.number"
                        name="number">
                </div>

                <div class="form-group">
                    <label for="committee">Komitetas/Pareigos</label>
                    <input type="text" [(ngModel)]="report.committee" class="form-control" id="committee"
                        name="committee" readonly>
                </div>

                <div class="form-group">
                    <label for="template">Šablonas</label>
                    <select class="form-control" id="template" required [(ngModel)]="report.template" name="template">
                        <option>Mėnesio ataskaita</option>
                        <option>Metų ataskaita</option>
                        <option>Susirinkimo protokolas</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="date">Ataskaitos metai-mėnuo</label>
                    <input type="text" class="form-control" id="date" required [(ngModel)]="report.date" name="date">
                </div>

                <div class="d-flex justify-content-between">
                    <button (click)="gotoList()" class="btn btn-primary">Grįžti į sąrašą</button>
                    <button type="submit" class="btn btn-success">Pakeisti</button>
                </div>
            </form>
        </div>
    </div>

</div>