<app-navbar></app-navbar>
<div class="row w-100 h-100">

    <div class="col-2 sidenav h-100">
        <app-sidenav></app-sidenav>
    </div>

    <div class="col-8 main">
        <h2>Sukurti ataskaitą {{report.userId}}</h2>
        <div class="card my-5">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" #reportForm="ngForm">

                    <div class="form-group">
                        <label for="number">Ataskaitos Nr.</label>
                        <input type="text" [(ngModel)]="report.number" class="form-control" id="number" name="number"
                            placeholder="Įrašykite ataskaitos numerį" required>
                    </div>

                    <div class="form-group">
                        <label for="committee">Komitetas/Pareigos</label>
                        <input type="text" [(ngModel)]="committee" class="form-control" id="committee"
                            name="committee" readonly value="{{loggedUser.duties}}" placeholder="{{loggedUser.duties}}" required>
                    </div>

                    <div class="form-group">
                        <label for="template">Šablonas</label>
                        <select [(ngModel)]="report.template" class="form-control" id="template" name="template"
                            required>
                            <option>Mėnesio ataskaita</option>
                            <!-- <option>Metų ataskaita</option> -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="date">Ataskaitos metai-mėnuo</label>
                        <input type="text" [(ngModel)]="report.date" class="form-control" id="date" name="date"
                            placeholder="Įrašykite ataskaitos datą: yyyy-mm" required>
                    </div>

                    <button type="submit" [disabled]="!reportForm.form.valid" class="btn btn-info">Sukurti</button>
                </form>
            </div>
        </div>
    </div>

</div>