<app-navbar></app-navbar>
<div class="row w-100 h-100">

  <div class="col-2 sidenav h-100">
    <app-sidenav></app-sidenav>
  </div>

  <div class="col-8 main">
    <h2>All users</h2>
    <div class="card my-5">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users ">
              <td>{{ user.email }}</td>
              <td>{{ user.password }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>