<html>
<body>
    <div class="col-12 mpdf" id="content" #content>
        <div class="header ">
            <div class="">
                <img src="http://kvksa.lt/wp-content/uploads/2016/11/KVKSA_Logo_BeTeksto-e1479408928790.png">
                <span class="font-weight-bold text-right">KLAIPĖDOS VALSTYBINĖS KOLEGIJOS STUDENTŲ ATSTOVYBĖ</span>
            </div>
            <hr>
        </div>

        <div class="mainsection text-center">
            <h1 class="text-uppercase">KLAIPĖDOS VALSTYBINĖS KOLEGIJOS <br>
                STUDENTŲ ATSTOVYBĖS <br>
                {{titleDuties}} MĖNESIO ATASKAITA
            </h1>
            <h2>{{report.date}}, Nr. {{report.number}}</h2>

            <table class="table table-bordered">
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col-3">Vykdyta veikla</th>
                        <th scope="col" class="col-3">Data/Vieta</th>
                        <th scope="col" class="col-3">Rezultatas (įgyvendinta/ neįgyvendinta/ vykdoma)</th>
                        <th scope="col" class="col-3">Kas gauta/pasiekta. Kokybiniai ir kiekybiniai rodikliai.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of activities" class="d-flex">
                        <td class="col-3">{{a.name}}</td>
                        <td class="col-3">{{a.date}}, {{a.place}}</td>
                        <td class="col-3">{{a.status}}</td>
                        <td class="col-3"><span class="font-weight-bold">Kokybiniai:</span>{{a.qualRes}}<br>
                            <span class="font-weight-bold">Kiekybiniai:</span>{{a.quanRes}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <span>Ataskaitą parengė: {{report.creator}}</span>
        <div class="footer">
            <hr>
            <div class="d-flex justify-content-between">
                <div>
                    <span>Asociacija</span><br>
                    <span>Jaunystės g. 1,</span><br>
                    <span>LT-91274 Klaipėda</span>
                </div>
                <div>
                    <span>Tel. +37067847996</span><br>
                    <span>El.p. prezidentas@kvksa.lt</span><br>
                    <span>www.kvksa.lt</span>
                </div>
                <div>
                    <span>Duomenys saugomi ir kaupiami</span><br>
                    <span>Juridinių asmenų registre</span><br>
                    <span>Kodas 141964875</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>