hr {
    font-style: black;
}

.mpdf {
    font-family: "Times New Roman";
    font-size: 12pt;
    margin: auto;
}

h1 {
    font-size: 14pt !important;
    font-weight: bold;
}

h2 {
    font-size: 12pt !important;
}

#content {
    width: 297mm;
}

table {
    max-width: 2480px;
    width: 100%;
}

table td {
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
}