<app-navbar></app-navbar>
<div class="row w-100 h-100">

	<div class="col-2 sidenav h-100">
		<app-sidenav></app-sidenav>
	</div>

	<div class="col-8 main">
		<div>
            <div class="card my-5">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Pavadinimas</th>
                                <th scope="col">Data, vieta</th>
                                <th scope="col">Statusas</th>
                                <th scope="col">Kokybiniai rezultatai</th>
                                <th scope="col">Kiekybiniai rezultatai</th>
                                <th scope="col">REPORTID</th>
                                <th scope="col">Veiksmai</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let activity of activities ">
                                <td>{{ activity.name }}</td>
                                <td>{{ activity.date }}, {{ activity.place }}</td>
                                <td>{{ activity.status }}</td>
                                <td>{{ activity.qualRes }}</td>
                                <td>{{ activity.quanRes }}</td>
                                <td>{{ activity.reportId }}</td>
                                <td>
                                    <button class="btn btn-success">Redaguoti</button>
                                    <button class="btn btn-danger">Ištrinti</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
	</div>

</div>