html, body {
    height: 100%;
    width: 100%;
}

.navbar-brand img {
    height: 70px;
}

.sidenav {
    background-color: rgb(245, 245, 245);
    padding-left: 2%;
    font-size: 140%;
}

.sorting a {
    padding-left: 15px;
}

.main {
    margin-left: auto;
    margin-right: auto;
}
