<div class="side">
    <div class="row"><span>Ataskaitos:</span></div>
    <div class="row sorting"><button (click)="reports('Bendros')" class="btn btn-light">➤ Bendros</button></div>
    <div class="row sorting"><button (click)="reports('Prezidentas')" class="btn btn-light">➤ Prezidento</button></div>
    <div class="row sorting"><button (click)="reports('Viceprezidentas')" class="btn btn-light">➤Viceprezidento</button></div>
    <div class="row sorting"><button (click)="reports('ARK')" class="btn btn-light">➤ ARK</button></div>
    <div class="row sorting"><button (click)="reports('SRK')" class="btn btn-light">➤ SRK</button></div>
    <div class="row sorting"><button (click)="reports('RsV')" class="btn btn-light">➤ RsV</button></div>
    <div class="row sorting"><button (click)="reports('ŽIK')" class="btn btn-light">➤ ŽIK</button></div>
    <div class="row sorting"><button (click)="reports('Laisvalaikis')" class="btn btn-light">➤ Laisvalaikis</button></div>
    <div class="row sorting"><button (click)="reports('Marketingas')" class="btn btn-light">➤ Marketingas</button></div>
    <div class="row sorting"><button (click)="reports('Projektai')" class="btn btn-light">➤ Projektai</button></div>
    <div class="row sorting"><button (click)="reports('Finansai')" class="btn btn-light">➤ Finansai</button></div>
    <div class="row sorting"><button (click)="reports('TF SA')" class="btn btn-light">➤ TF SA</button></div>
    <div class="row sorting"><button (click)="reports('SvMF SA')" class="btn btn-light">➤ SvMF SA</button></div>
    <div class="row sorting"><button (click)="reports('VF SA')" class="btn btn-light">➤ VF SA</button></div>
    <div class="row" *ngIf="canAdd()"><a routerLink="/addreport">Rengti naują ataskaitą +</a></div>
</div>